.logo-img {
  max-width: 500px;
  max-height: 125px;
  object-fit: fill;
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 30% 0;
}

.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
}
